<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica con Css</title>
    <link rel=stylesheet href="../../dist/css/style-dist.css">
    <link rel=stylesheet href="../css-scss/normalize.css">
</head>
<body>
    <header class="header">
        <nav class="menu">
            MENU
        </nav>
    </header>
    <!--<h1>Universal</h1>
    <h2>De Tipo</h2>
    <h2 class="title-h2">Por Clase</h2>
    <h2 class="title-h2">Por Clase 2</h2>
    <h2 myAtributo="title-h2" >Por atributo</h2>
    <h2 id="title-h2">Por ID</h2>
    <div [myAtributo]="title-h2" class="descendiente" id="title-h2">
        <h1>Descendiente</h1>
        <h2>De Tipo</h2>
        <h2 class="title2-h2">Por Clase</h2>
        <h2 myAtributo2="title-h2" >Por atributo</h2>
        <h2 id="title2-h2">Por ID</h2>
        </div>
        <div class="contenido">
            <h1 class="h1-title">Primer Titulo</h1>
            <div class="sub-contenido" id="sub-contenido">
                <h2 class="h2-title" id="h2-title">Subtitulo</h2>
                <h2 class="h2-title" id="h2-title">Subtitulo2</h2>
            </div>
        </div>
        <h3 class="title-h3">Herencia</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatibus dolore <a href="#">IR</a> aliquid nulla quis, ut tenetur temporibus sint adipisci ex.</p>

        <ul>
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <li><a href="#">Enlace 3</a></li>
            <li class="no-color"><a href="#">Enlace 4</a></li>
            <li><a href="#">Enlace 5</a></li>
            <li><a href="#">Enlace 6</a></li>
            <li><a href="#">Enlace 7</a></li>
            <li ><a  href="#">Enlace 8</a></li>
            <li ><a  href="#">Enlace 9</a></li>
        </ul> -->

        <!--<h1 class="title">Box Model</h1>
        <div class="block">Elemento de bloque</div>
        <a href="#" class="inline">En linea</a>-->
        
        <!--*<<<METODOLOGIA BEM>>>-->

        <!--*BEM (Block, Element, Modifier)
        
            Un bloque en BEM, es una entidad independiente, no necesita de nadie mas para existir (Header, Nav, Formulario, Footer, Contenedor)
            Como nombramos a los bloques?. RE: Se nombra con la funcionalidad del bloque
        
            Un elemento en BEM, depende directamente de un bloque, porque este debe estar dentro de un bloque y debe estar ligado a el.
            Como nombramos a los elementos?. RE: Se les nombra con el nombre de su bloque contenedor con 2 guiones y la descripcion del elemento.
        
            Un modificador puede ser un bloque o un elemento, estos indican una modificacion a dicho elemento o bloque.
            Como nombramos a los modificadores?. RE: Se les nombra con el nombre que tenian anteriormente (bloque o elemento) se le agrega dos guiones medios y la descripcion de la modificacion
            El modificador viene con un unificador si lo necesita,  ejemplo (--color-gray) es un guion medio
        
            Que pasa si tengo un hijo dentro de otro elemento?. RE: Se nombra como otro elemento (Esta permitido en BEM)

            Una una etiqueta puede tener 2 clases de un bloque?. RE: Si, se llama "Mixes" en BEM
            
            Se pueden usar modificadores globales como disabled o visible?, RE: No. No lo recomienda porque puede generar especifidad extra. Y lo que queremos con BEM es tener la especifidad al minimo
        -->

        <div class="btn">
            <a href="#" class="btn__link btn__link--primary">Primario</a>
            <a href="#" class="btn__link btn__link--secondary">Secundario</a>
        </div>

        <div class="block"><p>Elemento de bloque</p></div>
</body>
</html>