<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica con Css</title>
    <link rel=stylesheet href="../../dist/css/style-dist.css">
    <link rel=stylesheet href="../css-scss/normalize.css">
</head>
<body>
    <!--header class="header">
        <nav class="menu">
            MENU
        </nav>
    </header>-->
    <!--<h1>Universal</h1>
    <h2>De Tipo</h2>
    <h2 class="title-h2">Por Clase</h2>
    <h2 class="title-h2">Por Clase 2</h2>
    <h2 myAtributo="title-h2" >Por atributo</h2>
    <h2 id="title-h2">Por ID</h2>
    <div [myAtributo]="title-h2" class="descendiente" id="title-h2">
        <h1>Descendiente</h1>
        <h2>De Tipo</h2>
        <h2 class="title2-h2">Por Clase</h2>
        <h2 myAtributo2="title-h2" >Por atributo</h2>
        <h2 id="title2-h2">Por ID</h2>
        </div>
        <div class="contenido">
            <h1 class="h1-title">Primer Titulo</h1>
            <div class="sub-contenido" id="sub-contenido">
                <h2 class="h2-title" id="h2-title">Subtitulo</h2>
                <h2 class="h2-title" id="h2-title">Subtitulo2</h2>
            </div>
        </div>
        <h3 class="title-h3">Herencia</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatibus dolore <a href="#">IR</a> aliquid nulla quis, ut tenetur temporibus sint adipisci ex.</p>

        <ul>
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <li><a href="#">Enlace 3</a></li>
            <li class="no-color"><a href="#">Enlace 4</a></li>
            <li><a href="#">Enlace 5</a></li>
            <li><a href="#">Enlace 6</a></li>
            <li><a href="#">Enlace 7</a></li>
            <li ><a  href="#">Enlace 8</a></li>
            <li ><a  href="#">Enlace 9</a></li>
        </ul> -->

        <!--<h1 class="title">Box Model</h1>
        <div class="block">Elemento de bloque</div>
        <a href="#" class="inline">En linea</a>-->
        
        <!--*<<<METODOLOGIA BEM>>>-->

        <!--*BEM (Block, Element, Modifier)
        
            Un bloque en BEM, es una entidad independiente, no necesita de nadie mas para existir (Header, Nav, Formulario, Footer, Contenedor)
            Como nombramos a los bloques?. RE: Se nombra con la funcionalidad del bloque
        
            Un elemento en BEM, depende directamente de un bloque, porque este debe estar dentro de un bloque y debe estar ligado a el.
            Como nombramos a los elementos?. RE: Se les nombra con el nombre de su bloque contenedor con 2 guiones y la descripcion del elemento.
        
            Un modificador puede ser un bloque o un elemento, estos indican una modificacion a dicho elemento o bloque.
            Como nombramos a los modificadores?. RE: Se les nombra con el nombre que tenian anteriormente (bloque o elemento) se le agrega dos guiones medios y la descripcion de la modificacion
            El modificador viene con un unificador si lo necesita,  ejemplo (--color-gray) es un guion medio
        
            Que pasa si tengo un hijo dentro de otro elemento?. RE: Se nombra como otro elemento (Esta permitido en BEM)

            Una una etiqueta puede tener 2 clases de un bloque?. RE: Si, se llama "Mixes" en BEM
            
            Se pueden usar modificadores globales como disabled o visible?, RE: No. No lo recomienda porque puede generar especifidad extra. Y lo que queremos con BEM es tener la especifidad al minimo
        -->

        <!--<div class="btn">
            <a href="#" class="btn__link btn__link--primary">Primario</a>
            <a href="#" class="btn__link btn__link--secondary">Secundario</a>
        </div>-->

        <!--<div class="block">
            <div class="box-1">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, cum ipsum aperiam, quisquam earum eligendi architecto recusandae ducimus sed delectus cumque vero vitae inventore ut atque facilis ratione tempora molestias.</p>
            </div>
            <div class="box-2">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, cum ipsum aperiam, quisquam earum eligendi architecto recusandae ducimus sed delectus cumque vero vitae inventore ut atque facilis ratione tempora molestias.</p>
            </div>
            <p class="text"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda totam quisquam laboriosam aliquid aliquam facilis molestias, corporis sapiente explicabo eos. Quod corrupti repellendus excepturi perspiciatis impedit similique ipsa error modi?
                Soluta quibusdam eveniet quos cum exercitationem atque officia, at excepturi natus eligendi delectus cumque ea harum eius dolore voluptate animi doloribus iusto similique ad? Voluptates quam incidunt soluta consequatur delectus.
                Pariatur repellat dolorum culpa voluptatem quasi. Fugiat voluptate provident ratione consequatur, velit iure exercitationem accusamus inventore alias ullam, nisi ut, hic pariatur at voluptatem illo voluptates possimus cum voluptatibus. Corrupti!
                Obcaecati aliquam provident, sapiente optio corporis, accusantium in minus repudiandae possimus expedita recusandae. Dolore, non modi consequuntur perferendis eaque quas delectus? Dignissimos quibusdam illum nulla quis vel quo ad quia!
            </p>
        </div>-->
        <!--<header class="header">
            <h1 class="title">Colapsado de márgenes</h1>
        </header>
        <div class="box-1"></div>
        <div class="box-2"></div>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam id quasi et distinctio dolorum in eius aspernatur rerum vero, delectus doloribus itaque veniam eaque quod veritatis ab possimus eum velit.</p>
        <p class="text">Et quam reiciendis, eligendi repellendus deleniti aperiam quasi accusamus incidunt hic illum facere. Magnam vel enim nemo ad impedit voluptates qui? Asperiores eveniet blanditiis ullam odit explicabo quam soluta dolore!</p>
        <a href="#" class="link">Enlace</a>
        <a href="#" class="link">Enlace</a>-->
        <!--
        <div class="outline">Outline</div>-->
        <!--<p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo saepe culpa minima fuga necessitatibus nihil quisquam totam placeat, odio non laborum, quaerat molestiae obcaecati ullam quia adipisci vero quasi dicta hic ipsum est velit reiciendis illo exercitationem. Ab similique vero expedita reiciendis a porro qui minus sint, ipsa rerum rem ad enim ut dolore architecto itaque eum laborum ipsum numquam molestiae, quod asperiores, error nostrum illum. Minus earum iusto culpa reiciendis repellat magni quibusdam molestias cumque. Iure, alias quibusdam. Minima assumenda quibusdam voluptates sit sapiente obcaecati voluptatem, odio omnis cum ipsam officia unde quia soluta temporibus reprehenderit maiores cumque voluptas?</p>
        <div class="box">Border</div>
        <a href="#" class="link">Enlace</a>
        <div class="img-container"><img src="../assets/img/gato.jpg" alt="gato" class="img"></div>-->
        <!--<div class="container">
            <div class="box box-1">BOX-1</div>
        </div>
        <a href="" class="link">SOY UN ENLACE</a>
        <a href="" class="link-2">SOY UN ENLACE</a>
        <div class="box box-2">BOX-2</div>-->
        <!--<img src="/dev/assets/images/banner.jpg">
        <header class="header">
            <nav class="menu" >MENU</nav>
        </header>
        <main class="main">
            <h1>Position Sticky</h1>
            <!--<a href="" class="link">SOY UN ENLACE</a>
            <section>
                <article>
                    <h2 class="article-title">Sección 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, dolorum? Sunt distinctio optio eius similique doloremque accusantium cum minima eveniet ratione illum ipsum quam, id quod! Laborum provident amet officia illum natus vero. Explicabo voluptas consequatur ipsum dolore magni eum mollitia nemo libero ducimus blanditiis, quis ea iusto aspernatur porro voluptate suscipit doloremque, aliquid debitis consectetur delectus iste earum? Magnam sint rem nihil fuga, temporibus quos obcaecati quaerat unde non. Ipsam doloribus quos architecto eum numquam pariatur itaque dolorem sed! Quas quisquam aliquid ut adipisci dolore repellendus quis vel veniam maiores perferendis, eius magni consequatur mollitia nisi eos deserunt deleniti.</p>
                </article>
                <article>
                    <h2>Sección 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae facere magni consequatur error officiis eius culpa cupiditate ullam voluptates, eum veritatis qui commodi sunt earum, beatae accusantium rem repellat incidunt ipsum repudiandae? Tempora, nulla eum? Totam, aspernatur! Pariatur veniam asperiores doloribus neque voluptas dolorum iusto repudiandae modi! In eius necessitatibus eum commodi saepe nam eaque ex quisquam, delectus aspernatur voluptatum, temporibus id at. Consectetur corporis numquam magnam adipisci iste accusantium, quaerat voluptatem, vitae mollitia nobis, nihil rerum eos? Delectus quae reiciendis enim expedita dolor dolores quasi magni exercitationem corporis facere tempore beatae quas nihil, molestiae distinctio quod alias repudiandae.
                    </p>
                </article>
                <article>
                    <h2>Sección 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde provident blanditiis in praesentium officiis, totam, assumenda dolore deserunt cumque quidem necessitatibus quam aut tempore veniam nostrum sunt eligendi vitae consequatur? Ab ipsam at iste. Iure debitis aliquid odio tempora laboriosam, sunt ratione deleniti, voluptatibus quos magnam soluta! Illum accusantium velit ipsa culpa animi eaque libero explicabo aut exercitationem aliquam sit molestiae hic enim dolores, odit sint minima magni a sed beatae excepturi veritatis? Veniam totam ullam dolore voluptate, eius beatae soluta qui omnis ipsa esse? Quis facere numquam repudiandae assumenda laboriosam officiis architecto voluptatem illum, eos commodi exercitationem ex reiciendis.</p>
                </article>
                <article>
                    <h2>Sección 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ipsam. Distinctio maxime suscipit unde enim, quisquam esse aperiam ducimus nulla est saepe nostrum nisi debitis? Deleniti illum explicabo rem magnam corporis beatae veniam modi assumenda exercitationem voluptates! Natus non ipsum magni exercitationem repellendus quam amet sunt dolore est facilis? Iusto cupiditate culpa at inventore alias fugit autem, dicta tempora quaerat pariatur, laudantium tenetur explicabo minima! Quos, possimus, enim provident hic vel obcaecati eius labore quidem placeat quia ab dicta nisi distinctio magnam, impedit dignissimos quas neque vitae? Est porro adipisci incidunt fugiat, nostrum dolores aperiam saepe, facilis magni repellendus officiis.</p>
                </article>
            </section>
        </main>-->

        <div class="container">
            <div class="box box-1">Box 1</div>
            <div class="box box-1-2">Box 1-2</div>
        </div>
        <div class="box box-2">Box 2</div>
        <div class="box box-3">Box 3</div>
</body>
</html>